<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Travel App </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id = "app">
            <div class ="holder headline">
                <h1> Travel App</h1>
            </div>
            <div class ="holder place">
                <label for="place">Where are you going? </label>
                <input type="text" id="place" placeholder="enter destination here">
            </div>
            <div class ="holder date">
                <label for="feelings">What day are you leaving?</label>
                <input type= "date" id="date" required pattern="\d{4}-\d{2}-\d{2}"></input>
                <button id="generate" type = "submit" onclick = "return Client.whenClick()"> Generate </button>
            </div>
            <div class ="holder entry">
                <div class = "title">Your Upcoming Trip</div>
                <div id = "entryHolder">
                    <div id = "location"> </div> 
                    <div id = "departure"> </div>
                    <div id = "countdown"> </div>
                    <div id = "weather"> </div>
                    <img id = "cityimg" src = "">
                </div>
            </div>
        </div>
    </body>
</html>