<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title> Travel App </title>
    </head>
    <body>
        <div id = "app">
            <div class ="holder headline">
                <h1> Travel App</h1>
            </div>
            <div class = "holder form">
                <div class ="holder input place">
                    <label for="place">Where are you going? </label>
                    <input type="text" id="place" placeholder="enter destination here">
                </div>
                <div class ="holder input date">
                    <label for="feelings">What day are you leaving?</label>
                    <input type= "date" id="date" required pattern="\d{4}-\d{2}-\d{2}"></input>
                </div>
                <div class = "holder submit">
                    <button id="generate" type = "submit"> Generate </button>
                </div>
            </div>
            <div id = "entry" class ="holder entry hidden">
                <div id = "entryHolder">
                    <div class = 'triptitle'>
                        <h2> Your Upcoming Trip </h2>
                    </div>
                    <div class = 'triptext'>
                        <div id = "location"> </div> 
                        <div id = "departure"> </div>
                        <div id = "countdown"> </div>
                        <div id = "weather"> </div>
                        <div id = 'countryInfo'></div>
                    </div>
                    <div class='tripimg'>
                        <img id = "cityimg" src = "">
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>