body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    height:100vh;
    background: whitesmoke;
    color: royalblue;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;


    grid-template-areas:
    "title"
    "form"
    "trip";
    grid-template-rows: 10% 30% 60%;
    grid-template-columns: 60%;

}

.headline {
    grid-area:title;
    text-align: center;
}

.form{
    grid-area: form;
    display:grid;
    grid-template-areas:
    "date dest"
    "submit submit"
}

.hidden{
    display: none;
}

.entry{
    background: rgba(59, 74, 107, .4);
    grid-area: trip;
    outline: 2px solid blue;
}

#entryHolder{
    display: grid;
    grid-template-areas:
    "title title"
    "text pic";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    height:100%;
}

.triptitle{
    grid-area: title;
    text-align: center;
}

.triptitle h2{
    margin: 0px;
}

.triptext{
    grid-area: text;
}

.tripimg{
    grid-area: pic;
}

#cityimg{
    max-width: 100%;
    max-height: 100%;
}


.place{
    grid-area: dest;
}

.date{
    grid-area: date;
}

.submit{
    grid-area: submit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 2em;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
button:hover{
    background: blue; /*CHANGE LATER */
}

h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 